<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ProductCategoryMapper">
    
    <resultMap type="ProductCategory" id="ProductCategoryResult">
        <result property="id"    column="id"    />
        <result property="channelCode"    column="channel_code"    />
        <result property="channelName"    column="channel_name"    />
        <result property="remark"    column="remark"    />
        <result property="ext"    column="ext"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectProductCategoryVo">
        select id, channel_code, channel_name, remark, ext, create_time, create_by, update_time, update_by from mk_product_category
    </sql>

    <select id="selectProductCategoryList" parameterType="ProductCategory" resultMap="ProductCategoryResult">
        <include refid="selectProductCategoryVo"/>
        <where>  
            <if test="channelCode != null  and channelCode != ''"> and channel_code = #{channelCode}</if>
            <if test="channelName != null  and channelName != ''"> and channel_name like concat('%', #{channelName}, '%')</if>
            <if test="ext != null  and ext != ''"> and ext = #{ext}</if>
        </where>
    </select>
    
    <select id="selectProductCategoryById" parameterType="Long" resultMap="ProductCategoryResult">
        <include refid="selectProductCategoryVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertProductCategory" parameterType="ProductCategory">
        insert into mk_product_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="channelCode != null">channel_code,</if>
            <if test="channelName != null">channel_name,</if>
            <if test="remark != null">remark,</if>
            <if test="ext != null">ext,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="channelCode != null">#{channelCode},</if>
            <if test="channelName != null">#{channelName},</if>
            <if test="remark != null">#{remark},</if>
            <if test="ext != null">#{ext},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateProductCategory" parameterType="ProductCategory">
        update mk_product_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="channelCode != null">channel_code = #{channelCode},</if>
            <if test="channelName != null">channel_name = #{channelName},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="ext != null">ext = #{ext},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProductCategoryById" parameterType="Long">
        delete from mk_product_category where id = #{id}
    </delete>

    <delete id="deleteProductCategoryByIds" parameterType="String">
        delete from mk_product_category where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>