<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ProductConfigMapper">
    
    <resultMap type="ProductConfig" id="ProductConfigResult">
        <result property="id"    column="id"    />
        <result property="productCode"    column="product_code"    />
        <result property="tradeFee"    column="trade_fee"    />
        <result property="minimumSheet"    column="minimum_sheet"    />
        <result property="maximunSheet"    column="maximun_sheet"    />
        <result property="marginRate"    column="margin_rate"    />
        <result property="marginType"    column="margin_type"    />
        <result property="tradePeriod"    column="trade_period"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectProductConfigVo">
        select id, product_code, trade_fee, minimum_sheet, maximun_sheet, margin_rate, margin_type, trade_period, create_time, create_by, update_time, update_by from mk_product_config
    </sql>

    <select id="selectProductConfigList" parameterType="ProductConfig" resultMap="ProductConfigResult">
        <include refid="selectProductConfigVo"/>
        <where>  
            <if test="productCode != null  and productCode != ''"> and product_code = #{productCode}</if>
            <if test="tradeFee != null "> and trade_fee = #{tradeFee}</if>
            <if test="minimumSheet != null "> and minimum_sheet = #{minimumSheet}</if>
            <if test="maximunSheet != null "> and maximun_sheet = #{maximunSheet}</if>
            <if test="marginRate != null "> and margin_rate = #{marginRate}</if>
            <if test="marginType != null  and marginType != ''"> and margin_type = #{marginType}</if>
            <if test="tradePeriod != null  and tradePeriod != ''"> and trade_period = #{tradePeriod}</if>
        </where>
    </select>
    
    <select id="selectProductConfigById" parameterType="Long" resultMap="ProductConfigResult">
        <include refid="selectProductConfigVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertProductConfig" parameterType="ProductConfig">
        insert into mk_product_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="productCode != null">product_code,</if>
            <if test="tradeFee != null">trade_fee,</if>
            <if test="minimumSheet != null">minimum_sheet,</if>
            <if test="maximunSheet != null">maximun_sheet,</if>
            <if test="marginRate != null">margin_rate,</if>
            <if test="marginType != null">margin_type,</if>
            <if test="tradePeriod != null">trade_period,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="productCode != null">#{productCode},</if>
            <if test="tradeFee != null">#{tradeFee},</if>
            <if test="minimumSheet != null">#{minimumSheet},</if>
            <if test="maximunSheet != null">#{maximunSheet},</if>
            <if test="marginRate != null">#{marginRate},</if>
            <if test="marginType != null">#{marginType},</if>
            <if test="tradePeriod != null">#{tradePeriod},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateProductConfig" parameterType="ProductConfig">
        update mk_product_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="productCode != null">product_code = #{productCode},</if>
            <if test="tradeFee != null">trade_fee = #{tradeFee},</if>
            <if test="minimumSheet != null">minimum_sheet = #{minimumSheet},</if>
            <if test="maximunSheet != null">maximun_sheet = #{maximunSheet},</if>
            <if test="marginRate != null">margin_rate = #{marginRate},</if>
            <if test="marginType != null">margin_type = #{marginType},</if>
            <if test="tradePeriod != null">trade_period = #{tradePeriod},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProductConfigById" parameterType="Long">
        delete from mk_product_config where id = #{id}
    </delete>

    <delete id="deleteProductConfigByIds" parameterType="String">
        delete from mk_product_config where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>