<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.client.mapper.ClientUserWalletFlowMapper">
    
    <resultMap type="com.ruoyi.client.domain.ClientUserWalletFlow" id="ClientUserWalletFlowResult">
        <result property="id"    column="id"    />
        <result property="walletId"    column="wallet_id"    />
        <result property="userId"    column="user_id"    />
        <result property="bizOrderId"    column="biz_order_id"    />
        <result property="type"    column="type"    />
        <result property="direct"    column="direct"    />
        <result property="amount"    column="amount"    />
        <result property="currency"    column="currency"    />
        <result property="remark"    column="remark"    />
        <result property="ext"    column="ext"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectClientUserWalletFlowVo">
        select id, wallet_id, user_id, biz_order_id, type, direct, amount, currency, remark, ext, del_flag, create_time, create_by, update_time, update_by from client_user_wallet_flow
    </sql>

    <select id="selectClientUserWalletFlowList" parameterType="com.ruoyi.client.domain.ClientUserWalletFlow" resultMap="ClientUserWalletFlowResult">
        <include refid="selectClientUserWalletFlowVo"/>
        <where>  
            <if test="walletId != null "> and wallet_id = #{walletId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="bizOrderId != null "> and biz_order_id = #{bizOrderId}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="direct != null  and direct != ''"> and direct = #{direct}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="currency != null  and currency != ''"> and currency = #{currency}</if>
        </where>
    </select>
    
    <select id="selectClientUserWalletFlowById" parameterType="Long" resultMap="ClientUserWalletFlowResult">
        <include refid="selectClientUserWalletFlowVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertClientUserWalletFlow" parameterType="com.ruoyi.client.domain.ClientUserWalletFlow" useGeneratedKeys="true" keyProperty="id">
        insert into client_user_wallet_flow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="walletId != null">wallet_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="bizOrderId != null">biz_order_id,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="direct != null and direct != ''">direct,</if>
            <if test="amount != null">amount,</if>
            <if test="currency != null and currency != ''">currency,</if>
            <if test="remark != null">remark,</if>
            <if test="ext != null">ext,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="walletId != null">#{walletId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="bizOrderId != null">#{bizOrderId},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="direct != null and direct != ''">#{direct},</if>
            <if test="amount != null">#{amount},</if>
            <if test="currency != null and currency != ''">#{currency},</if>
            <if test="remark != null">#{remark},</if>
            <if test="ext != null">#{ext},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateClientUserWalletFlow" parameterType="com.ruoyi.client.domain.ClientUserWalletFlow">
        update client_user_wallet_flow
        <trim prefix="SET" suffixOverrides=",">
            <if test="walletId != null">wallet_id = #{walletId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="bizOrderId != null">biz_order_id = #{bizOrderId},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="direct != null and direct != ''">direct = #{direct},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="currency != null and currency != ''">currency = #{currency},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="ext != null">ext = #{ext},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteClientUserWalletFlowById" parameterType="Long">
        delete from client_user_wallet_flow where id = #{id}
    </delete>

    <delete id="deleteClientUserWalletFlowByIds" parameterType="String">
        delete from client_user_wallet_flow where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>