<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.client.mapper.RechargeBankMapper">
    
    <resultMap type="RechargeBank" id="RechargeBankResult">
        <result property="id"    column="id"    />
        <result property="bankName"    column="bank_name"    />
        <result property="bankAddress"    column="bank_address"    />
        <result property="swift"    column="swift"    />
        <result property="payeeName"    column="payee_name"    />
        <result property="payeeAcct"    column="payee_acct"    />
        <result property="payeeCurrency"    column="payee_currency"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectRechargeBankVo">
        select id, bank_name, bank_address, swift, payee_name, payee_acct, payee_currency, status, del_flag, create_time, create_by, update_time, update_by from recharge_bank
    </sql>

    <select id="selectRechargeBankList" parameterType="RechargeBank" resultMap="RechargeBankResult">
        <include refid="selectRechargeBankVo"/>
        <where>  
            <if test="bankName != null  and bankName != ''"> and bank_name like concat('%', #{bankName}, '%')</if>
            <if test="swift != null  and swift != ''"> and swift = #{swift}</if>
            <if test="payeeName != null  and payeeName != ''"> and payee_name like concat('%', #{payeeName}, '%')</if>
            <if test="payeeAcct != null  and payeeAcct != ''"> and payee_acct = #{payeeAcct}</if>
            <if test="payeeCurrency != null  and payeeCurrency != ''"> and payee_currency = #{payeeCurrency}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectRechargeBankById" parameterType="Long" resultMap="RechargeBankResult">
        <include refid="selectRechargeBankVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRechargeBank" parameterType="RechargeBank" useGeneratedKeys="true" keyProperty="id">
        insert into recharge_bank
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bankName != null and bankName != ''">bank_name,</if>
            <if test="bankAddress != null and bankAddress != ''">bank_address,</if>
            <if test="swift != null and swift != ''">swift,</if>
            <if test="payeeName != null and payeeName != ''">payee_name,</if>
            <if test="payeeAcct != null and payeeAcct != ''">payee_acct,</if>
            <if test="payeeCurrency != null and payeeCurrency != ''">payee_currency,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bankName != null and bankName != ''">#{bankName},</if>
            <if test="bankAddress != null and bankAddress != ''">#{bankAddress},</if>
            <if test="swift != null and swift != ''">#{swift},</if>
            <if test="payeeName != null and payeeName != ''">#{payeeName},</if>
            <if test="payeeAcct != null and payeeAcct != ''">#{payeeAcct},</if>
            <if test="payeeCurrency != null and payeeCurrency != ''">#{payeeCurrency},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateRechargeBank" parameterType="RechargeBank">
        update recharge_bank
        <trim prefix="SET" suffixOverrides=",">
            <if test="bankName != null and bankName != ''">bank_name = #{bankName},</if>
            <if test="bankAddress != null and bankAddress != ''">bank_address = #{bankAddress},</if>
            <if test="swift != null and swift != ''">swift = #{swift},</if>
            <if test="payeeName != null and payeeName != ''">payee_name = #{payeeName},</if>
            <if test="payeeAcct != null and payeeAcct != ''">payee_acct = #{payeeAcct},</if>
            <if test="payeeCurrency != null and payeeCurrency != ''">payee_currency = #{payeeCurrency},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRechargeBankById" parameterType="Long">
        delete from recharge_bank where id = #{id}
    </delete>

    <delete id="deleteRechargeBankByIds" parameterType="String">
        delete from recharge_bank where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>